{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
                div { display: block; }
                p { text-align: center; }
                img {
                  display: block;
                  margin-left: auto;
                  margin-right: auto;
                  max-width: 50%;
                  max-height: 40%;
                  height: auto;
                }
	</style>
{% endblock %}


{% block title %}
Chosen Boardgame: {{ bg_name }}
{% endblock %}


{% block content %}

<div class="container">
  <img src="{{ bg_image }}" alt="Photo: {{ bg_name }}">
  <p><em>You should play {{ bg_name }}</em></p>
  <p><em>Supports {{ min_players }}-{{ max_players }} Players</em></p>
  <p><em>Plays in under {{ playing_time }} minutes</em></p>
  <p>
    <em>Don't like your choice? Try</em>
    <a href="{{ url_for('boardgame') }}" class="btn btn-primary">Again</a>
    <em>or </em>
    <a href="https://boardgamegeek.com/collection/user/{{ username }}">View entire collection</a>
  </p>
  <p><a href="{{ url_for('index') }}">Return to home page</a></p>
</div>

{% endblock %}
