{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
                p { text-align: center; }
	</style>
{% endblock %}


{% block title %}
Random Boardgame Selector
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <p><strong>Enter your boardgame geek username and</strong></p>
      <p><strong>optionally enter the minimum number of players</strong></p>
      <p><strong>to randomly select a game to play</strong></p>

      {{ wtf.quick_form(form) }}

      <p class="pt-5"><strong>{{ message }}</strong></p>

    </div>
  </div>
</div>

{% endblock %}
